/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[id_file]
      ,[kode_bank]
      ,[kode_cabang_bank]
      ,[kode_cabang_askrindo]
      ,[kode_produksi]
      ,[no_rek_pinjaman]
      ,[no_perjanjian_kredit]
      ,[tgl_awal_pk]
      ,[tgl_akhir_pk]
      ,[jk_waktu_kredit]
      ,[id_valuta]
      ,[kurs_valuta]
      ,[plafond_kredit]
      ,[suku_bunga_kredit]
      ,[jenis_kredit]
      ,[sub_jenis_kredit]
      ,[type_tujuan_kredit]
      ,[kolektibilitas_kredit]
      ,[sektor_ekonomi]
      ,[sumber_pelunasan_kredit]
      ,[sumber_dana_kredit]
      ,[mekanisme_penyaluran]
      ,[cif_customer]
      ,[nama_debitur]
      ,[no_ktp_debitur]
      ,[tmpt_lahir]
      ,[tgl_lahir]
      ,[jenis_kelamin]
      ,[alamat_debitur]
      ,[kode_pos]
      ,[jenis_pekerjaan]
      ,[status_pegawai]
      ,[no_tlp]
      ,[no_hp]
      ,[npwp]
      ,[jenis_agunan]
      ,[jenis_pengikatan]
      ,[nilai_agunan]
      ,[tgl_kirim]
      ,[lain_1]
      ,[lain_2]
      ,[broker_agent]
      ,[kode_broker_agent]
      ,[nama_broker_agent]
      ,[nilai_tanggungan]
      ,[rate_premi]
      ,[nilai_premi]
      ,[tgl_awal_tanggungan]
      ,[tgl_akhir_tanggungan]
      ,[jk_waktu_tanggungan]
      ,[flag_status_validasi_web]
      ,[no_polis_acs]
      ,[flag_status_terbit]
      ,[flag_status_terbit_inquiry]
      ,[counter_inquiry_polis]
      ,[keterangan]
      ,[upload_from]
      ,[upload_date]
      ,[no_surat_pengantar]
      ,[tgl_no_surat_pengantar]
      ,[max_counter_inquiry]
  FROM [askrindo_webportal].[dbo].[t_temp_akseptasi_produksi]
  --where flag_status_validasi_web = 1 and upload_from = '172.17.31.25'
  
  --update t_temp_akseptasi_produksi set flag_status_validasi_web = 0 where id_file = 42 and flag_status_validasi_web = 1 and upload_from = '172.17.31.48' 
  --update t_file_upload set status = 2 where id_file = 42
  
  --update t_temp_akseptasi_produksi set flag_status_validasi_web = 1 where id_file = 42 and no_rek_pinjaman in ('1220526004482', '1220526004375', '1220541000210', '0030534001072', '0030535001744', '9030535000093') and upload_from = '172.17.31.48'